/* Global */

body {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}

p {
    line-height: 1.4;
}

a {
    color: #000;
}

strong {
    font-weight: 600;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.4rem;
    font-weight: 300;
}

h3 {
    font-size: 1.2rem;
    font-weight: 300;
}

ul {
    padding: 0;
}

main {
    margin: auto;
    max-width: 75ch;
    padding: 10px 20%;
}

.sr-only {
    left: -2000px;
    position: absolute;
    visibility: hidden;
    width: 0;
}

li {
    list-style-type: none;
}

  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
  }
  dd {
    padding: 0 0 0.5em 4.5em;
  }

@media only screen and (max-width: 1000px) {
    main {
        margin: 0 auto;
        padding: 0 10%;
    }
}

/* Navigation */

header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 15px;
}

.header-logo {
    height: 70px;
    margin: 0.67rem 0;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 270px;
}

header a {
    font-weight: 500;
    text-decoration: none;
}

.active::after {
    content: '';
    display: block;
    border-bottom: solid #000 2px;
}

.skip-to {
    align-items: center;
    background: #000;
    color: #FFF;
    display: flex;
    height: 30px;
    padding: 8px;
    position: absolute;
    transform: translateY(-120%);
    transition: transform 0.3s;
}
  
.skip-to:focus {
    transform: translateY(0%);
}

@media only screen and (max-width: 600px) {
    header ul {
        margin-top: 5px;
        width: 250px;
    }
}

footer {
    margin-top: 100px;
    text-align: center;
}


/* Homepage */

.intro div {
    width: 65%;
}

.headshot {
    /* border-radius: 50%; */
    width: 200px;
}

.clients {
    margin-top: 50px;
}

.clients p {
    width: 65%;
}

.clients-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 75px 0px 0px -9%;
    padding: 0;
    width: 115%;
}

.clients-list li {
    margin-bottom: 25px;
}

.client-logo {
    text-decoration: none;
}

.client-logo img {
    max-width: 150px;
    max-height: 75px;
}


@media only screen and (max-width: 1000px) {
    
    .clients-list {
        padding: 0;
        width: unset;
        margin: 65px 0 0 0;
    }

    .client-logo img {
        max-width: 125px;
    }
}

@media only screen and (max-width: 600px) {

    .intro div {
        width: 100%;
    }

    .clients p {
        width: 100%;
    }

    .clients-list {
        flex-direction: column;
    }

    .clients li {
        max-width: 100%;
        width: unset;
    }

    .client-logo img {
        max-width: 150px;
    }
}

/* About */

.about-wrapper:not(:first-of-type) {
    margin-top: 50px;
}

/* Work */

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.tag-role {
    background: #F6BD2B;
    border-radius: 25px;
    font-size: 0.8rem;
    margin: 10px 3px 0;
    padding: 6px 17px;
    width: fit-content;
}

.work-list ul {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.work-list li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding-right: 10px;
}

.work-list--text {
    margin-left: 30px;
    padding-top: 10px;
    width: 45%;
}

.work-list-img--link {
    width: 50%;
}

.work-list img {
    width: 100%;
}

.work-list--project-type {
    font-size: 0.9rem;
    margin-top: -15px;
}

.work-list h2 {
    font-size: 1.2rem; 
    font-weight: 500;
    text-decoration: underline;
}

.work-list a {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    
    .work-list li {
        margin-top: 50px;
    }

    .work-list--text{
        margin-left: 0;
        max-width: 410px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    
    .work-list img {
        width: 100%;
    }

}

/* Words */


.words-list li:not(:first-of-type) {
    margin-top: 50px;
}

.words-list li:first-of-type {
    margin-top: 30px;
}

.words-list p {
    font-size: 1rem;
}